<!-- Thumbnail -->
<section id="thumbnails">

	<article>
		<a class="thumbnail" href="assets/sintitulo1"><img src="assets/sintitulo1" alt="" /></a>
		<h2>Sin Titulo - 1976</h2>
		<p>Acuarela sobre papel de formato apaisado, donde se puede observar formas abstractas compuestas por líneas verticales, horizontales y curvas que forman celdas en colores negros y grises.</p>
	</article>

	<article>
		<a class="thumbnail" href="assets/sintitulo2"><img src="assets/sintitulo2" alt="" /></a>
		<h2>Sin Titulo - 1976</h2>
		<p>La obra nos muestra dos personajes, uno en el centro y el otro en el lado izquierdo del cuadro, ambos de frente y sólo se muestran sus caras y una parte del torso.</p>
	</article>

	<article>
		<a class="thumbnail" href="assets/angustia_nnemonica_1977"><img src="assets/angustia_nnemonica_1977" alt="" /></a>
		<h2>Angustia Nnemónica - 1977</h2>
		<p>Oleo sobre cartón de formato apaisado, donde se representan formas abstractas sobre un fondo verde. La gama cromática predominante es la de los colores verdes amarillos y marrón.</p>
	</article>

	<article>
		<a class="thumbnail" href="assets/Como_Donde_1979"><img src="assets/Como_Donde_1979" alt="" /></a>
		<h2>¿Cómo?...¿Dónde? - 1979</h2>
		<p>La composición se compone por una franja central donde se encuentran pegados recortes de prensa, a la izquierda se distingue un dibujo de un rostro de un color violáceo muy pálido la mitad de un rostro de mujer de perfil, luego la imagen de los hornos de Lonquén, y luego la otra mitad de la mujer y por ultimo una imagen de barrotes.</p>
	</article>

	<article>
		<a class="thumbnail" href="assets/chicanosinrumbo"><img src="assets/chicanosinrumbo" alt="" /></a>
		<h2>Chicano Sin Rumbo - 1979</h2>
		<p>Acuarela sobre papel en formato apaisado, en donde se observan tres rostros inscritos dentro de una estructura que se asemeja a un muro de una montaña.</p>
	</article>

	<article>
		<a class="thumbnail" href="assets/enredado" data-position="top center"><img src="assets/enredado" alt="" /></a>
		<h2>Enredado en el Submundo - 1979</h2>
		<p>Acuarela sobre papel en formato apaisado en donde se muestra la representación del rostro de un hombre de manera abstracta y no figurativa. A base de líneas y franjas.</p>
	</article>

	<article>
		<a class="thumbnail" href="assets/tebuscare"><img src="assets/tebuscare" alt="" /></a>
		<h2>Los Circuitos Misteriosos - 1979</h2>
		<p>Acuarela sobre papel, de formato apaisado, en el cual se puede observar la representación un personaje femenino (busto) de melena rubia, anteojos, ojos verdes, sobre su clavícula la inscripción que dice “TE BUSCARÉ”.</p>
	</article>

	<article>
		<a class="thumbnail" href="assets/sintitulo3"><img src="assets/sintitulo3" alt="" /></a>
		<h2>El Exiliado - 1979</h2>
		<p>Composición en técnica mixta, acuarela y montaje sobre papel, de formato apaisado, donde se representan formas abstractas y se puede distinguir dos personajes. Al centro se distingue un rostro femenino en escorzo, mirando hacia la izquierda del dibujo, un poco más abajo hacia la izquierda encontramos un rostro de un niño en escorzo. Los colores predominantes son los verdes en distintas tonalidades.</p>
	</article>

	<article>
		<a class="thumbnail" href="assets/primo"><img src="assets/primo" alt="" /></a>
		<h2>Sin Titulo - 1980</h2>
		<p>Ut sed magna euismod leo laoreet congue. Fusce congue enim ultricies.</p>
	</article>

	<article>
		<a class="thumbnail" href="assets/memoriasdelsubmundo"><img src="assets/memoriasdelsubmundo" alt="" /></a>
		<h2>Parte de Memorias del Submundo - 1980</h2>
		<p>Feugiat auctor leo massa, nec vestibulum nisl erat faucibus, rutrum nulla.</p>
	</article>

	<article>
		<a class="thumbnail" href="assets/laesperanza"><img src="assets/laesperanza" alt="" /></a>
		<h2>La Esperanza - 1981</h2>
		<p>Acuarela sobre papel en formato apaisado, donde se representa formas abstractas, que se asemejan a las formas del subsuelo y donde se puede reconocer dos personajes masculinos.</p>
	</article>

	<article>
		<a class="thumbnail" href="assets/laceldafria"><img src="assets/laceldafria" alt="" /></a>
		<h2>La Celda Fría - 1981</h2>
		<p>Dibujo en grafito sobre papel en formato apaisado,donde se observa el perfil de un rostro masculino con ojos cerrados. Frente al rostro se aprecian figuras abstractas, dentro de las cuales sobre sale un signo de interrogación.</p>
	</article>

</section>



<!-- Footer -->
<footer id="footer">
	<p class="pincel">En Algún Lugar....Nos volveremos a Encontrar...</p>
	<br>
	<br>
	<ul class="copyright">
		<li>&copy; Todos Los Derechos Reservados.</li>
	</ul>
</footer>

</div>
